.applist {
    position: absolute;
    top: 65px;
    right: 15px;
    width: 328px;
    height: 448px;
    max-height: calc(-63px + 100vh);
    padding: 20px 25px;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    z-index: 100;

    &::-webkit-scrollbar {
        width: 16px;
    }
    &::-webkit-scrollbar-thumb {
        background: #dadce0;
        background-clip: padding-box;
        border: 4px solid transparent;
        border-radius: 8px;
        box-shadow: none;
        min-height: 50px;
    }

    .applist__apps {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        justify-content: center;
        margin-bottom: 10px;

        .applist__item {
            height: 84px;
            width: 84px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            transition: .5s;

            &:hover {
                background-color: #e8f0fe;
            }

            .applist__avatar {
                height: 35px;
                width: 35px;
            }

            img {
                height: 35px;
                width: 35px;
            }

            p {
                margin-top: 8px;
                font-size: 14px;
                letter-spacing: .09px;
                line-height: 18px;
            }
        }
    }
}


.applist__line {
    height: 1px;
    background-color: #ccc;
    grid-column: 1/4;
    margin-bottom: 15px;
}

.applist__more {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .applist__moreButton {
        background-color: #fff !important;
        border: 1px solid #dadce0 !important;
        border-radius: 4px !important;
        color: #1a73e8 !important;
        text-transform: inherit !important;
    }
}