.home {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

    a {
        margin-right: 20px;
        text-decoration: none;
        color: rgba(0, 0, 0, .87);
        font-size: 15px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.home__headerRight {
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;

    > .MuiSvgIcon-root {
        margin-right: 20px;
    }
}